<div *ngIf="cooks">
    <ul class="list-group" *ngFor="let cook of cooks">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <div class="row align-items-center search-list">
                <div class="col | col-sm-2">
                    <img 
                     src="{{cook.photo ? cook.photo  : '../../assets/images/profile/profile-pic-default.jpg'}}" class="img-fluid profile-pic" alt="Responsive image">
                </div>
                <div class="col | col-sm-7">
                    <h1>{{cook.name | titlecase}}</h1>
                    <!-- <h6>{{cook.description}}</h6> -->
                    <div class="form-group row">
                        <label class="col col-form-label"> 
                            <strong>Experience</strong> </label>
                        <div class="col value-heigth">
                            10 Month
                        </div>
                    </div>
                    <div class="form-group row">
                            <label class="col col-form-label">
                                <strong> Location</strong> </label>
                            <div class="col value-heigth">
                               <!-- {{cook.address.city}} -->
                            </div>
                    </div>
                    <div class="form-group row">
                            <label class="col col-form-label">
                                <strong>Specialist</strong> </label>
                            <div class="col value-heigth">
                                    {{cook.specialist}}
                            </div>
                    </div>
                </div>
               <div class="col">
                   <span class="badge badge-primary badge-pill" (click) = "hireMe(cook)"> 
                    {{RequestStatusName[cook.status]}}    
                    <!-- Hire Me   -->
                         <!-- <button  class="mb-2"></button> -->
                   </span>
    
               </div>
            </div>
        </li>
    </ul>
</div>