<div class="latest-from-blog text-center">
    <div class="container">
        <h4>Latest From the Blog</h4>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="blog-latest">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <img class="" src="../../assets/images/latest-from-blog/blog-post-1.png" alt="blog-image">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h5><a href="#">Post Title Goes Here</a>
                            </h5>
                            <p><i class="fa fa-clock-o"></i>
                                <span class="date">27.6.2014</span>at
                                <span class="time">17.33</span>
                            </p>
                            <p class="bl-sort">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-default-red"><i class="fa fa-file-text-o"></i> Read  More</a>
                        </div>
                        <!--end .blog-details-->
                    </div>
                    <!--end .row-->
                </div>
                <!--end .blog-latest -->
            </div>
            <!--end grid layout-->

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="blog-latest">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <img class="" src="../../assets/images/latest-from-blog/blog-post-2.png" alt="blog-image">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h5><a href="#">Post Title Goes Here</a>
                            </h5>
                            <p><i class="fa fa-clock-o"></i>
                                <span class="date">27.6.2014</span>at
                                <span class="time">17.33</span>
                            </p>
                            <p class="bl-sort">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-default-red"><i class="fa fa-file-text-o"></i> Read  More</a>
                        </div>
                        <!--end .blog-details-->
                    </div>
                    <!--end .row-->
                </div>
                <!--end .blog-latest -->
            </div>
            <!--end grid layout-->

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="blog-latest">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <img class="" src="../../assets/images/latest-from-blog/blog-post-3.png" alt="blog-image">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h5><a href="#">Post Title Goes Here</a>
                            </h5>
                            <p><i class="fa fa-clock-o"></i>
                                <span class="date">27.6.2014</span>at
                                <span class="time">17.33</span>
                            </p>
                            <p class="bl-sort">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-default-red"><i class="fa fa-file-text-o"></i> Read  More</a>
                        </div>
                        <!--end .blog-details-->
                    </div>
                    <!--end .row-->
                </div>
                <!--end .blog-latest -->
            </div>
            <!--end grid layout-->

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="blog-latest">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <img class="" src="../../assets/images/latest-from-blog/blog-post-4.png" alt="blog-image">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h5><a href="#">Post Title Goes Here</a>
                            </h5>
                            <p><i class="fa fa-clock-o"></i>
                                <span class="date">27.6.2014</span>at
                                <span class="time">17.33</span>
                            </p>
                            <p class="bl-sort">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <a href="#" class="btn btn-default-red"><i class="fa fa-file-text-o"></i> Read  More</a>
                        </div>
                        <!--end .blog-details-->
                    </div>
                    <!--end .row-->
                </div>
                <!--end .blog-latest -->
            </div>
            <!--end grid layout-->
        </div>
        <!--end .row main-->
        <!-- read older button -->
        <div class="read-older">
            <a href="#" class="btn btn-default-red"><i class="fa fa-file-text-o"></i> Read Older Entries</a>
        </div>
    </div>
    <!--end container-->
</div>