<section id="about">
    <div class="row">
            <div class="col-sm-6 m-0">
              <div class="card">
                <div class="card-body rank">
                  <h5 class="card-title">Address</h5>
                  <p class="card-text">2-29/1, Old Mumbai Hwy
                        087908 58072 </p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
            <div class="col-sm-6 m-0">
              <div class="card">
                <div class="card-body rank">
                  <h5 class="card-title">Links</h5>
                  <p class="card-text">https://www.gitalife.in/</p>
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
              </div>
            </div>
    </div>
</section>