<div class="chef-welcome">
  <div class="container">
    <h1>Instruction</h1>
    
    <p>
      Register with your mail Id and mobile number
    </p>
    <p>
      Search  for the cook
    </p>
    <p>
      Filter and send hire request to cook devotee
    </p>
    <p>
      Get the phone number and final the deal on call
    </p>
    <p>
      You are done....
    </p>
    <a href="#" class="btn btn-default-red"><i class="fa fa-file-text-o"></i> Read  More</a>
  </div>
  <!-- end .container -->
</div>