<section class="mbr-section article content9 cid-r91EAcXsSl" id="content9-11">
    <div class="container">
        <div class="inner-container" style="width: 100%;">
            <hr class="line" style="width: 25%;">
            <div class="section-text align-center mbr-fonts-style display-7">Help the preacher of all over India to get
                easy access to get cook at the right time at the right price. It is a one-stop solution to the cook
                search problem of the devotee.&nbsp;<strong></strong><br><br><strong>
                </strong>
                <div>
                </div>
                <div>So explore and find a good cook for yourself. Catch up with
                    <a href="#" class="text-primary">cookdevotee.com</a>to find a calm, cool, and creative cook at a
                    reasonable price.
                    &nbsp; <br/><strong>Happy prasadam !!</strong> 
                    </div>
            </div>
            <hr class="line" style="width: 25%;">
        </div>
    </div>
</section>