<div class="category-boxes-icons">
    <div class="hero-area horizontal text-center m-0">
        <div class="hero-content">
            <h2>Cook At A Glance</h2>
            <h3>All over india cook</h3>  
        </div>
    </div>
    <div class=" container">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="category-boxes-item">
                    <figure>
                        <img src="../../assets/images/category-boxes/north indain.jpg">
                        <h4>North Indian Cook</h4>
                    </figure>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12  text-center">
                <div class="category-boxes-item">
                    <figure>
                        <img src="../../assets/images/category-boxes/south.jpg">
                        <h4>South Indian Cook</h4>
                    </figure>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="category-boxes-item">
                    <figure>
                        <img src="../../assets/images/category-boxes/bengali.jpg">
                        <h4>Bengali Cook</h4>
                    </figure>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="category-boxes-item">
                    <figure>
                        <img class="img-responsive" src="../../assets/images/category-boxes/chinese.png">
                        <h4>Chinese Cook</h4>
                    </figure>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="category-boxes-item">
                    <figure>
                        <img src="../../assets/images/category-boxes/gujrati.png">
                        <h4>Gujrati Cook</h4>
                    </figure>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12  text-center">
                <div class="category-boxes-item">
                    <figure>
                        <img src="../../assets/images/category-boxes/vrindavan.jpg">
                        <h4>Vrindavan Cook</h4>
                    </figure>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="category-boxes-item">
                    <figure>
                        <img src="../../assets/images/category-boxes/punjabi.jpg">
                        <h4>Punjabi Cook</h4>
                    </figure>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <div class="category-boxes-item">
                    <figure>
                        <img class="img-responsive" src="../../assets/images/category-boxes/international.jpg">
                        <h4>International Cook</h4>
                    </figure>
                </div>
            </div>
        </div>
        <!-- end .row -->

    </div>
    <!-- end .category-boxes-icons -->
</div>