<div class="row">
        <div class="col-sm-4 m-0">
          <div class="card">
            <div class="card-body rank">
              <h5 class="card-title">No of cooks</h5>
              <p class="card-text">1000 + </p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
        <div class="col-sm-4 m-0">
          <div class="card">
            <div class="card-body rank">
              <h5 class="card-title">No of clients</h5>
              <p class="card-text">20000 +</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
        <div class="col-sm-4 m-0">
                <div class="card">
                  <div class="card-body rank">
                    <h5 class="card-title">No of Testimonial</h5>
                    <p class="card-text">200000 +</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
                </div>
        </div>
</div>