.rank {
    background-color: white;
    color: black;
    font-size: 10vmin;
}

.m-0 {
    padding-left: 0vw !important;
    padding-right: 0vw !important;
    text-align: center;
}

div.row {
    margin-right: 0px !important;
}