/* You can add global styles to this file, and also import other style files */


.mg-8 {
    margin-top: 8vh;
}

.br {
    border: 1px solid black;
}


.inline {
    display: inline-flex;
}

.box-model {
    padding: 2px;
    margin: 2px;
    border: 2px;
    
}


.vh-5 {
    height: 5vh;
}